{% extends "base.html" %}

{% block main %}
<h2 class="page-title">All Assignments</h2>

<table>
    <tr>
        <th>
            <a href="/assignments?sort=assignment_name">
                Assignments
            </a>
        </th>
        <th>
            <a href="/assignments?sort=subject_name">
                Subjects
            </a>
        </th>
        <th>
            <a href="/assignments?sort=due_date">
                Due Date
            </a>
        </th>
        <th>
            <a href="/assignments?sort=priority">
                Priority
            </a>
        </th>
        <th>
            <a href="/assignments?sort=status">
                Status
            </a>
        </th>
    </tr>
    {% for row in assignments %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5">No assignments found.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
