{% extends "base.html" %}

{% block main %}

<div class="calendar">

    <div class="calendar-header">

        <h2>{{ month_name }} {{ year }}</h2>

        <div>

            <a class="calendar-button" href="/calendar?month={{ month }}&year={{ year }}&change=previous">
                &lt;
            </a>

            <a class="calendar-button" href="/calendar">
                Today
            </a>

            <a class="calendar-button" href="/calendar?month={{ month }}&year={{ year }}&change=next">
                &gt;
            </a>

        </div>

    </div>


    <div class="calendar-grid">

        <div class="day-name">Mon</div>
        <div class="day-name">Tue</div>
        <div class="day-name">Wed</div>
        <div class="day-name">Thu</div>
        <div class="day-name">Fri</div>
        <div class="day-name">Sat</div>
        <div class="day-name">Sun</div>


        {% for week in month_days %}

            {% for day in week %}

                {% if day == 0 %}

                    <div class="day other-month"></div>

                {% else %}

                    <div class="day">
                        {{ day }}
                    </div>

                {% endif %}

            {% endfor %}

        {% endfor %}

    </div>

</div>

{% endblock %}
