{% extends "base.html" %}

{% block main %}

<h2>Welcome to Your Study Planner</h2>

<p>
    This is a Study Planner. In this website, you are able to 
    study organised, manage your workload, and keep track of your study goals all in 
    one place. Your Study Planner is here to also help you manage assignments,
    subjects, notes and deadlines so you can stay on top of your schoolwork with reminders
    to help you remember important information you might have forgotten!
</p>

<br>

<h2>Features</h2>

<p>
    <strong>Smart Search:</strong>
    Find subjects and assignments quickly without having to scroll through the website.
</p>

<p>
    <strong>Sorting:</strong>
    Sort subjects and assignments by priority, due date, status, credits,
    room or teacher to make it easier to find important information.
</p>

<p>
    <strong>Colour Modes:</strong>
    Choose from four colour modes: Pink, Light, Dark and Colourblind.
</p>

<br>

<div class="quote-box">
    <p>"{{ quote[0] }}"</p>
    <span>- {{ quote[1] }}</span>
</div>

{% endblock %}
