{% extends "base.html" %}

{% block main %}

<h2 class="page-title">Notes</h2>

<div class="notes">

    <div class="notes-list">

        <h3>My Notes</h3>

        {% for note in notes %}

        <a href="/notes/{{ note[0] }}"
           class="note {% if selected_note and selected_note[0] == note[0] %}selected{% endif %}">

            <strong>{{ note[1] }}</strong>

            <small>Note</small>

        </a>

        {% endfor %}

    </div>


    <div class="note-content">

        {% if selected_note %}

        <div class="note-paper">

            <h2>{{ selected_note[1] }}</h2>

            <p>{{ selected_note[2] }}</p>

        </div>

        {% else %}

        <div class="note-paper">

            <h2>No notes yet</h2>

            <p>You do not have any notes.</p>

        </div>

        {% endif %}

    </div>

</div>

{% endblock %}
