{% extends "base.html" %}

{% block main %}

<h2 class="page-title">Notes</h2>

<div class="notes">

    <div class="notes-list">

        <h3>My Notes</h3>

        <div class="note selected">
            <strong>English Speech Structure</strong>
            <small>English</small>
        </div>

        <div class="note">
            <strong>Science Project</strong>
            <small>Science</small>
        </div>

        <div class="note">
            <strong>Music Lyrics</strong>
            <small>Music</small>
        </div>

        <div class="note">
            <strong>Important Notes</strong>
            <small>General</small>
        </div>

    </div>


    <div class="note-content">

        <div class="note-top">
            <button>+ New Note</button>
        </div>

        <div class="note-paper">

            <h2>English Speech Structure</h2>

            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>

        </div>

    </div>

</div>

{% endblock %}
