{% extends "base.html" %}

{% block main %}
<h2 class="page-title">All Reminders</h2>

<table>
    <tr>
        <th>
            <a href="/reminders?sort=assignment_name&order={{ order }}">
                Assignments
            </a>
        </th>
        <th>
            <a href="/reminders?sort=subject_name&order={{ order }}">
                Subjects
            </a>
        </th>
        <th>
            <a href="/reminders?sort=due_date&order={{ order }}">
                Due Date
            </a>
        </th>
        <th>
            <a href="/reminders?sort=priority&order={{ order }}">
                Priority
            </a>
        </th>
        <th>
            <a href="/reminders?sort=status&order={{ order }}">
                Status
            </a>
        </th>
    </tr>

    {% for row in reminders %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
    </tr>

    {% else %}
    <tr>
        <td colspan="5">No upcoming reminders.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
