{% extends "base.html" %}

{% block main %}
<h2 class="page-title">All Subjects</h2>

<table>
    <tr>
        <th>
            <a href="/subjects?sort=subject_name">
                Subject
            </a>
        </th>
        <th>
            <a href="/subjects?sort=teacher_name">
                Teacher
            </a>
        </th>
        <th>
            <a href="/subjects?sort=room">
                Room
            </a>
        </th>
        <th>
            <a href="/subjects?sort=credits">
                Credits
            </a>
        </th>
    </tr>
    {% for row in subjects %}
    <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">No subjects found.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
