<!DOCTYPE html>
<html>

<head>
    <title>Webpages Demo</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <h1>Study Planner Pages</h1>

    <ul>
        <li>Home Page</li>
        <li>Login Page</li>
        <li>Register Page</li>
        <li>Dashboard</li>
        <li>Add Task</li>
    </ul>

    <h2>Assignments</h2>

    <table>
        <thead>
            <tr>
                <th>Assignment(s)</th>
                <th>Due Date(s)</th>
            </tr>
        </thead>

        <tbody>
            {% for tag in tags %}
            <tr>
                <td>{{ tag[0] }}</td>
                <td>{{ tag[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <a href="/">Back Home</a>

</body>

</html>
