{% extends "base.html" %}

{% block main %}
        <h2>{{ title }}</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Attribute</th>
                    <th>values</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td>{{ tag[0] }}</td>
                    <td>{{ tag[1] }}</td>
                    <td>{{ tag[2] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">No tags found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
