{% extends "base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<table>
    <tr>
        <th>
            <a href="/sort/{{ title }}?sort=tag&order={{ order }}">Tag</a>
        </th>
        <th>
            <a href="/sort/{{ title }}?sort=description&order={{ order }}">Description</a>
        </th>
    </tr>

    {% for tag in tags %}
    <tr>
        <td>{{ tag[0] }}</td>
        <td>{{ tag[1] }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="2">No tags found.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
