<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML and CSS Tags</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Web Tags</h1>
    </header>
    <nav>
        <ul>
            <li>
                Home
            </li>
            <li>
                HTML
            </li>
            <li>
                CSS
            </li>
        </ul>
    </nav>
    <main>
        <h2>{{ title }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>values</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td>{{ tag[0] }}</td>
                    <td>{{ tag[1] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">No tags found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
